body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: none;
}

body:active{
    cursor: url("../img/cursor.svg"), auto;
}

video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}